/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Skia-Regular";
  src: url("../fonts/SkiaRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SkiaRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SkiaRegular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SkiaRegular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SkiaRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SkiaRegular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SkiaRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
/*    font-style: normal;*/
}

h1,
h2,
h3,
h4,
h5 {
/*  text-transform: uppercase !important;*/
  font-family: "Skia-Regular";
    text-shadow: 1px 2px 3px #666;
/*    text-shadow: 1px 1px 2px #8F8F8F;*/
}

.material-icons,
#social_icons i,
span,
p {
/*text-shadow: 1px 2px 3px #666;*/
text-shadow: 1px 1px 1px #B8B8B8;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: "Skia-Regular";

}

p {
  line-height: 2rem;
}

tr {
  border: none !important;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.carousel.carousel-slider .carousel-item {
    height: auto !important;
    min-height: auto !important;
}

.card .card-image {
  max-width: 150px;
  margin: 0px auto;
  padding: 15px;
}

.card .card-content {
  padding: 0px 15px 15px 15px !important;
}

/* social icons */

#social {
  background-color: #eceff1;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom:80px;
}


#social li{
  display: inline;
  list-style-type: none;
}

#social ul{
  text-align:center;
}


#social_icons li a:hover {
  background-color: transparent !important;
}

#social_icons li a {
  padding: 0 6px;
}

#social_icons i {
  font-size: 4em;
  color: #4ec289;
}

.card #social_icons i {
  font-size: 2em;
  color: #4ec289;
}


#social_icons li:hover i, #social_icons i:hover {
  color: #003046;
}

@media(max-width:768px) {
  #social li{
    width: 25%;
    display: inline-block;
    margin-bottom: 20px;
  }
  #social li:last-child{
    margin-bottom: 0px;
  }
}

.tabs .indicator {
  display: none !important;
/*    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right;*/
}

.tabs .tab a {
  color: #003046 !important;
}


.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #4ec289 !important;
/*  outline: none;*/
}

.tabs .tab a.active {
  background-color: #4ec289 !important;
  color: white !important;
}

.tabs .tab a:hover{
  background-color: #003046 !important;
  color: white !important;
}

.teal.dark-nort {
  background-color: #003046 !important;
}

/* Меню навигации */

nav ul a:hover {
  background-color: #003046 !important;
  color: white !important;
}

a.active {
  background-color: #4ec289;
  color: white !important;
}

/*#walets {
  background-color: red;
  height: 10px;
}

#spec {
  background-color: yellow; 
  height: 10px;
}

#developers {
  background-color: blue;
  height: 10px;
}*/

nav ul a,
nav .brand-logo {
  color: #fff;
}

.solid{
  background-color: rgba(0,0,0,.8) !important;
  transition: background-color 1s ease 0s;
  -webkit-transition: background-color 1s ease 0s;
}






















.carousel .indicators .indicator-item {

display: none;
/*  background-color: rgba(0,0,0,.8) !important;*/

}














.carousel.carousel-slider .carousel-item p {
    font-size: 20px !important;

}



#funding {
    background: url("../images/ricepaper_v3.png") repeat;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 90px;
}