/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/**
 * https://simpleicons.org/
*/

/*@font-face { font-family: 'Skia-Regular'; src: url('../fonts/Skia-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Skia-Regular.woff') format('woff'), url('../fonts/Skia-Regular.ttf') format('truetype'), url('../fonts/Skia-Regular.svg#Skia-Regular') format('svg'); 
font-weight: normal; 
font-style: normal;
}

html {
    font-family: "Skia-Regular" !important;
}*/

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

tr {
  border: none !important;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.carousel.carousel-slider .carousel-item {
    height: auto !important;
    min-height: auto !important;
}

.card .card-image {
  max-width: 150px;
  margin: 0px auto;
  padding: 15px;
}

.card .card-content {
  padding: 0px 15px 15px 15px !important;
}

/* social icons */

#social {
  background-color: #eceff1;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom:80px;
}


#social li{
  display: inline;
  list-style-type: none;
}

#social ul{
  text-align:center;
}


#social_icons li a:hover {
  background-color: transparent !important;
}

#social_icons li a {
  padding: 0 6px;
}

#social_icons i {
  font-size: 4em;
  color: #4ec289;
}

.card #social_icons i {
  font-size: 2em;
  color: #4ec289;
}


#social_icons li:hover i, #social_icons i:hover {
  color: #003046;
}

@media(max-width:768px) {
  #social li{
    width: 25%;
    display: inline-block;
    margin-bottom: 20px;
  }
  #social li:last-child{
    margin-bottom: 0px;
  }
}

.tabs .indicator {
  display: none !important;
/*    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right;*/
}

.tabs .tab a {
  color: #003046 !important;
}


.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #4ec289 !important;
/*  outline: none;*/
}

.tabs .tab a.active {
  background-color: #4ec289 !important;
  color: white !important;
}

.tabs .tab a:hover{
  background-color: #003046 !important;
  color: white !important;
}

.teal.dark-nort {
  background-color: #003046 !important;
}

/* Меню навигации */

nav ul a:hover {
  background-color: #003046 !important;
  color: white !important;
}

a.active {
  background-color: #4ec289;
  color: white !important;
}

/*#walets {
  background-color: red;
  height: 10px;
}

#spec {
  background-color: yellow; 
  height: 10px;
}

#developers {
  background-color: blue;
  height: 10px;
}*/
